a {
	cursor: pointer;
}

ul {
	padding: 0;
}

img {
	max-height: 400px;
	max-width: 600px;
}

input{
    outline-style: none ;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px 0;
    width: 100px;
    font-size: 14px;
}

table {
	border: 1px solid grey;
	border-collapse: collapse;
	margin: 20px;
}

th {
	background-color: #bdd0f1;
	border: 1px solid grey;
	color:#ffffff;
	font-size: 1.1em;
	padding: 6px;
	text-align: center;
	text-transform: capitalize;
}

tr {
	background-color: #f7fdff;
}

td {
	border: 1px solid grey;
	font-size: 1em;
	padding: 5px;
	text-align:center;
}

body {
	background: #e9f8ff;
	margin: 0;
	text-align: center;
}

#navigator {
	background-color: #444;
	color: white;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 50px;
    overflow: hidden;
	padding-inline-start: 0;
	text-align: left;
}

#navigator_span {
	padding: 14px 16px;
	float: left;
}

.navigate_item {
	float: right;
}

.selected_navi_item {
	background-color: #a1d1e6;
}

.navigate_item a {
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
    text-decoration: none;
}

.navigate_item a:hover {
    background-color: #a1d1e6;
}

#file_uploader {
	height: 0;
	width: 0;
	display: none;
}

#select_button {
	cursor: pointer;
	background-color: #83a7e1;
	border: 2px solid grey;
	border-radius: 4px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: auto;
	width: 500px;
}

#select_button:hover {
	background-color: #93b7f1;
}

#submit {
	cursor: pointer;
	background-color: #008CBA;
	border: 2px solid grey;
	border-radius: 4px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: auto;
}

#submit:hover {
	background-color: #109CCA;
}

#preview {
	margin: 20px;
}

#image_display {
	position: fixed;
	display: none;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#result_table {
	display: none;
}

#query_table {
	display: inline-block;
	margin: auto;
	overflow: auto;
}

.table_btn {
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 4px;
	color: white;
	padding: 3px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 0 2px;
	width: 50px;
}

.edit_btn {
	background-color: #83a7e1;
}

.delete_btn {
	background-color: #e64b37;
}

.conf_btn {
	background-color: #e6e43b;
	display: none;
}

.disc_btn {
	background-color: #6ce62e;
	display: none;
}


.animated {
	animation-name: anim;
	animation-duration: 0.75s;
}

@keyframes anim {
    0%   {background: #98ff57;}
    100% {background: #f7fdff;}
}

@-webkit-keyframes anim {
    0%   {background: #98ff57;}
    100% {background: #f7fdff;}
}
