

img {
	max-height: 400px;
	max-width: 600px;
}

table {
	display: none;
	border: 1px solid grey;
	border-collapse: collapse;
	margin: 20px;
}

th {
	background-color: #bdd0f1;
	border: 1px solid grey;
	color:#ffffff;
	font-size: 1.1em;
	padding: 6px;
	text-align:center;
}

td {
	border: 1px solid grey;
	font-size: 1em;
	padding: 5px;
	text-align:center;
}

body {
	background: #e9f8ff;
	margin: 0;
	text-align: center;
}

#navigator {
	background-color: #444;
	color: white;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 50px;
    overflow: hidden;
	padding-inline-start: 0;
	text-align: left;
}

#navigator_span {
	padding: 14px 16px;
	float: left;
}

.navigate_item {
	float: right;
}

.selected_navi_item {
	background-color: #a1d1e6;
}

.navigate_item a {
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
    text-decoration: none;
}

.navigate_item a:hover {
    background-color: #a1d1e6;
}

#file_uploader {
	height: 0px;
	width: 0px;
	display: none;
}

#select_button {
	cursor: pointer;
	background-color: #83a7e1;
	border: 2px solid grey;
	border-radius: 4px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: auto;
	width: 500px;
}

#select_button:hover {
	background-color: #93b7f1;
}

#submit {
	cursor: pointer;
	background-color: #008CBA;
	border: 2px solid grey;
	border-radius: 4px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: auto;
}

#submit:hover {
	background-color: #109CCA;
}

#preview {
	margin: 20px;
}