{% extends "base.html" %}

{% block head_content %}
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/home.js"></script>
<link rel="stylesheet" type="text/css" href="/static/main.css">
<style>.flash_msg {font-size: 20px;}</style>
{% endblock %}

{% block body_content %}
<input type="file" id="file_uploader" onchange="fileSelected(this)">
<div id="select_button">Select Image File</div>
<div id="submit">Submit</div><br/>
<div id="preview"></div>

<table id="result_table">
	<tr id="table_headline"></tr>
	<tr id="table_1stline"></tr>
</table>
{% endblock %}