<head>
	<title>A Very Simple WebUI For Cenetery Doc OCR</title>
	<script src="/static/jquery-3.4.1.min.js"></script>
	<script src="/static/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
	<div id="navigator"><span id="navigator_span">A Very Simple WebUI For Cenetery Doc OCR</span></div>
	<input type="file" id="file_uploader" onchange="fileSelected(this)">
	<div id="select_button">Select JPEG File</div>
	<div id="submit_button">Submit</div><br/>
	<div id="preview"></div>

	<table border="1">
		<tr>
			<th>File Name</th>
			<th>Person Name</th>
			<th>output_value_1</th>
			<th>output_value_2</th>
			<th>output_value_3</th>
			<th>output_value_4</th>
		</tr>
	</table>
</body>